$text-color: #e1e2b5;
$outline-color: #616039;
$inline-color: #857552;
$active-color: #6e6145;
$inbox-color: #161514;

@font-face {
  font-family: 'Trajan Pro Bold';
  src: url('/fonts/TrajanPro-Bold.otf');
};

@font-face {
  font-family: 'Trajan Pro Regular';
  src: url('/fonts/TrajanPro-Regular.ttf');
};